html{
    background: linear-gradient(135deg, #FCBB6D 0%, #FFCC6F 100%);
    
}
body{
    width: 40rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
    margin: auto;
    /* padding-top: 1rem */
    
}

header{
    border-radius:1rem 1rem 0 0 ;
    width: 100%;
    flex-basis: 12rem;
    background-color: rgba(255, 73, 36, 0.83);
    text-align: center;
    position: relative;
}
.logo{
    max-width: 15%;
    position: relative;
    top: 2.5rem;
    background: white;
    border-radius: 50%;
}
.order{
    padding: 2rem;
    flex: 1;
    background: white;
    border-radius: 0 0 1rem 1rem;
    line-height: 0.5rem;

}
button{
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}
    #btn-checkout{
        width: 100%;
        background-color: #FF6144;
        color: white;
    }
    .order-sumary{
        padding: 0rem 1.5rem;
        margin: 2rem 0;
        background: #F4F4F6;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.5rem;
    }
    .money{
        float: right;
    }
    #btn-add{
        margin: 0.5rem;
        border: 1px solid gray;
        width: 18rem;
        background: white;
           
    }
    .order h1{
        text-align: center;
        font-size: 1.6rem;
        margin-bottom: 2rem;
        font-weight: 500;
    }
    .order-item{
        display: flex;
        font-size: 1rem;
        font-weight: 500;
     
    }
    .order-item button{
        padding: 0.5rem;
        width: 20px;
        height: 20px;
        line-height: 10px;
        font-size: 1.25rem;
    }
    .item-name{
        flex-basis: 16rem;
        
    }
    .item-quantity{
        flex-basis: 10rem;

    }   
    .item-price{
        margin-left: auto;
    }
    .item-quantity input{
        width: 40px;
    }
